<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardMapper">

    <resultMap id="boardAll" type="boardVO">
        <id column="seq" property="seq"/>
        <result column="seq" property="seq"/>
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="board_insert_time" property="boardInsertTime"/>
        <result column="board_update_time" property="boardUpdateTime"/>
        <collection property="boardReplyVO" javaType="java.util.ArrayList" resultMap="boardReply"/>
    </resultMap>

    <resultMap id="boardReply" type="boardReplyVO">
        <result column="idx" property="idx" />
        <result column="seq" property="seq"/>
        <result column="root" property="root"/>
        <result column="indent" property="indent"/>
        <result column="step" property="step"/>
        <result column="reply" property="reply"/>
        <result column="reply_insert_time" property="replyInsertTime"/>
        <result column="reply_update_time" property="replyUpdateTime"/>
    </resultMap>

    <!-- 수정 -->
    <select id="selectBoardAll" resultMap="boardAll">
        SELECT
            B.seq, B.id, B.title, B.content, B.board_insert_time, B.board_update_time,
            BR.idx, BR.seq, BR.root, BR.indent, BR.step, BR.reply, BR.reply_insert_time
        FROM board B
             LEFT JOIN board_reply BR
                       ON B.seq = BR.seq
        WHERE B.seq = #{seq}
        ORDER BY BR.root DESC, BR.indent
    </select>

    <!-- board List   -->
    <select id="selectList" resultType="boardVO">
        SELECT * FROM board ORDER BY seq DESC LIMIT #{startRowNo}, #{endRowNo}
    </select>

    <select id="selectTotalRowCount" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>

    <!-- board Detail   -->
    <select id="selectOne" resultType="boardVO">
        SELECT * FROM board WHERE seq = #{seq}
    </select>

    <!-- board Insert   -->
    <insert id="insert">
        INSERT INTO board (id, title, content, board_insert_time)
        VALUES(
            #{id},
            #{title},
            #{content},
            NOW()
        )
    </insert>

    <!-- board Update   -->
    <update id="update">
        UPDATE board SET
            title = #{title},
            content = #{content},
            board_update_time = NOW()
        WHERE seq = #{seq}
    </update>

    <!-- board Delete  -->
    <delete id="delete" parameterType="int">
        DELETE FROM board WHERE seq = #{seq}
    </delete>


    <!-- reply insert -->
    <insert id="insertReply">
        INSERT INTO board_reply (seq,root, indent, step, reply, reply_insert_time)
        VALUES(
            #{seq},
            <if test="root == 0">
                (select IFNULL(max(root) + 1, 1) from board_reply r),
            </if>
            <if test="root != 0">
                #{root},
            </if>
            #{indent},
            #{step},
            #{reply},
            NOW()
            )
    </insert>

    <update id="indentUpdate">
        UPDATE board_reply SET indent = indent + 1 WHERE root = #{root} AND indent > #{indent}
    </update>

    <!-- reply delete -->
    <delete id="deleteReply">
        DELETE FROM board_reply WHERE idx = #{idx}
        <if test="indent == 1">
            OR root = #{root}
        </if>
    </delete>

    <select id="selectReplyOne" resultType="boardReplyVO">
        SELECT * FROM board_reply WHERE idx = #{idx}
    </select>

    <!-- reply update -->
    <update id="updateReply">
        UPDATE board_reply SET
            reply = #{reply},
            reply_update_time = NOW()
        WHERE idx = #{idx}
    </update>


</mapper>