<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardMapper">

    <resultMap id="boardAll" type="boardVO">
        <id column="seq" property="seq"/>
        <result column="seq" property="seq"/>
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="board_insert_time" property="boardInsertTime"/>
        <result column="board_update_time" property="boardUpdateTime"/>
        <collection property="boardReplyVO" javaType="java.util.ArrayList" resultMap="boardReply"/>
    </resultMap>

    <resultMap id="boardReply" type="boardReplyVO">
        <result column="idx" property="idx" />
        <result column="seq" property="seq"/>
        <result column="reply" property="reply"/>
        <result column="reply_insert_time" property="replyInsertTime"/>
        <result column="reply_update_time" property="replyUpdateTime"/>
        <collection property="boardReplyAnswerVOList" javaType="java.util.ArrayList" resultMap="boardReplyAnswer"/>
    </resultMap>

    <resultMap id="boardReplyAnswer" type="boardReplyAnswerVO" >
        <result column="idx" property="idx" />
        <result column="root" property="root" />
        <result column="indent" property="indent" />
        <result column="reply_answer" property="replyAnswer" />
    </resultMap>

    <select id="selectBoardAll" resultMap="boardAll">
        SELECT
            B.seq, B.id, B.title, B.content, B.board_insert_time, B.board_update_time,
            R.idx, R.seq, R.reply,
            A.root, A.indent, A.reply_answer
        FROM board B
                 LEFT JOIN board_reply R
                           ON B.seq = R.seq
                 LEFT JOIN board_reply_answer A
                           ON R.idx = A.root
        WHERE b.seq = #{seq}
        ORDER BY R.idx DESC
    </select>

    <!-- board List   -->
    <select id="selectList" resultType="boardVO">
        SELECT * FROM board ORDER BY seq DESC LIMIT #{startRowNo}, #{endRowNo}
    </select>

    <select id="selectTotalRowCount" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>

    <!-- board Detail   -->
    <select id="selectOne" resultType="boardVO">
        SELECT * FROM board WHERE seq = #{seq}
    </select>

    <!-- board Insert   -->
    <insert id="insert">
        INSERT INTO board (id, title, content, board_insert_time) VALUES(
        #{id},
        #{title},
        #{content},
        NOW()
        )
    </insert>

    <!-- board Update   -->
    <update id="update">
        UPDATE board SET
        title = #{title},
        content = #{content},
        board_update_time = NOW()
        WHERE seq = #{seq}
    </update>

    <!-- board Delete  -->
    <delete id="delete" parameterType="int">
        DELETE FROM board WHERE seq = #{seq}
    </delete>

    <!-- reply insert -->
    <insert id="insertReply">
        INSERT INTO board_reply (seq, reply, reply_insert_time) VALUES(#{seq}, #{reply}, NOW())
    </insert>

    <!-- reply delete -->
    <delete id="deleteReply">
        DELETE FROM board_reply WHERE idx = #{idx}
    </delete>

    <select id="selectReplyOne" resultType="boardReplyVO">
        SELECT * FROM board_reply WHERE idx = #{idx}
    </select>

    <!-- reply update -->
    <update id="updateReply">
        UPDATE board_reply
        SET reply = #{reply}, reply_update_time = NOW()
        WHERE idx = #{idx}
    </update>

    <insert id="insertReplyAnswer">
        <selectKey order="BEFORE" resultType="int" keyProperty="indent">
            SELECT
                   NVL(MAX(indent), 0)+1
            FROM board_reply_answer
            WHERE root = #{idx}
        </selectKey>
        INSERT
            INTO board_reply_answer (root, indent, reply_answer)
                VALUES (#{idx}, #{indent}, #{replyAnswer})
    </insert>

</mapper>