<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.LogMapper">

    <resultMap id="log" type="log">
        <result column="idx" property="idx"/>
        <result column="http" property="http" />
        <result column="http_time" property="httpTime" />
        <result column="package_name" property="packageName" />
        <result column="method_name" property="methodName" />
        <result column="result_time" property="resultTime" />
    </resultMap>

    <!-- time 수정 -->
    <insert id="insertLog" >
        INSERT INTO log_test (http, http_time, package_name, method_name, result_time)
        VALUES(
               #{http},
               #{httpTime},
               #{packageName},
               #{methodName},
               <if test="resultTime != null">
                   #{resultTime}
               </if>
               )
    </insert>

    <delete id="deleteLog">
        DELETE FROM log_test
        WHERE STR_TO_DATE(http_time, '%Y-%m-%d')
            BETWEEN #{startDate}
            AND #{endDate}
    </delete>


    <select id="logTest" resultType="String" >
        SELECT
            JSON_OBJECT(
                    'IDX', L.idx,
                    'HTTP', L.http,
                    'HTTP_TIME', L.http_time,
                    'PACKAGE_NAME', L.package_name,
                    'METHOD_NAME', L.method_name,
                    'RESULT_TIME', L.result_time
                )
                AS test
        FROM log_test L
    </select>
    <insert id="test">
        INSERT INTO json_test VALUES(#{data})
    </insert>
    <select id="t1" resultType="String">
        SELECT * FROM json_test
    </select>
</mapper>