<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.LogMapper">

    <resultMap id="log" type="log">
        <result column="idx" property="idx"/>
        <result column="http_request" property="httpRequest" />
        <result column="request_time" property="requestTime" />
        <result column="package_name" property="packageName" />
        <result column="method_name" property="methodName" />
        <result column="http_response" property="httpResponse" />
        <result column="response_time" property="responseTime" />
        <result column="result_data" property="resultData" />
        <result column="result_time" property="resultTime" />
    </resultMap>

    <insert id="insertLog" >
        INSERT INTO log (
                         http_request,
                         request_time,
                         package_name,
                         method_name,
                         http_response,
                         response_time,
                         result_data,
                         result_time
                         )
        VALUES(
                       #{httpRequest},
                       #{requestTime},
                       #{packageName},
                       #{methodName},
                       #{httpResponse},
                       #{responseTime},
                       #{resultData},
                       #{resultTime}
               )
    </insert>

    <delete id="deleteLog">
        DELETE FROM log
        WHERE STR_TO_DATE(http_time, '%Y-%m-%d')  >= #{date}
    </delete>

</mapper>